.home-container {
    height: 100vh;
}

/* 가장 왼쪽 서버 목록 사이드바 */
.server-list-sidebar {
    width: 72px;
    background-color: #202225; /* 디스코드 서버 목록 배경색 */
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%; /* 동그란 아이콘 */
    background-color: #36393f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
    overflow: hidden; /* 텍스트가 아이콘 밖으로 나가지 않도록 */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.server-icon:hover, .server-icon.selected {
    border-radius: 16px; /* 호버 또는 선택 시 둥근 사각형으로 변경 */
    background-color: #5865f2; /* 디스코드 블루 */
}

.server-separator {
    width: 32px;
    height: 2px;
    background-color: #36393f;
    border-radius: 1px;
    margin: 0 auto 8px auto;
}

/* 기존 채널 목록 사이드바 */
.channel-sidebar {
    width: 240px;
    background-color: #2f3136; /* 디스코드 채널 목록 배경색 */
}
